.head{
    width: 100%;
    height: 19vh;
}

.top-bar {
      font-size: 17px;
      text-align: justify
      ;
      justify-content: space-around;
    }


    /* Navbar */
    .navbar-brand {
      font-weight: 700;
      font-size: 1.3rem;
    }

    .nav-link {
      font-weight: 500;
    }

    /* Offcanvas menu width */
    .offcanvas {
      width: 280px;
    }
    .col-lg-4 #ecourse{
        color: orange; 
    }

.homescreen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.home1{
    color:white;
    text-align: center;
    font-size: 20px;
}
/* abotus */
.aboutus{
    width: 100%;
    height: 80vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    background-color: rgba(255, 166, 0, 0.685);
    border-radius: 20px;

}
.contact1 button{
    width: 29%;
    height: 6vh;
    border-radius: 10px;
    background-color: orangered;
    font-size: 24px;
    border: none;
    color: white;
}
.contact1 a{
    text-decoration: none;
     color: white;
}
.contact{
    margin-top: 20px;
    width: 45%;
    /* height: 80vh; */
    border-radius: 10px;
}
.contact1{
    margin-top: 20px;
    width: 45%;
    /* height: 60vh; */

}
.contact img{
    border-radius: 10px;
    width: 90%;
    height: 70vh;
}
.contact1 h2{
    font-size: 24px;
    color: orangered;
}
.contact1 h1{
    font-size: 35px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.contact1 p{
    font-size: 18px;
    line-height: 28px;
}
/* need any course */

.choose{
    width: 100%;
    height: 100vh;
    background-image:url(../img/registration.jpg);
    background-size: 100% 110vh;
    background-repeat: no-repeat;
    display: flex ;
    justify-content: space-around;
    margin-top: 10vh;
}
.choose2 h2{
    background-color: aliceblue;
     width: 100%; height: 10vh;
      text-align: center;
      font-size: 40px;
      margin-top: 5px;
}
.choose1{
    margin-top: 50px;
    width: 40%;
    /* height: 1-0vh; */
}
.choose2 select{
    font-size: 20px; width: 430px;
}
.choose1 h1{
    color: aliceblue;
    font-size: 30px;
}
.choose2{
    margin-top: 70px ;
    width: 40%;
    /* height: 100vh; */
    text-align: center;
    /* background-color: aliceblue; */
}
.choose2 form{
    width: 100%;
    height: 80vh;
    background-color: tomato;
    text-align: center;
}
.choose2 input, .choose2 select{
    width: 80%;
    height: 7vh;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

/* Foooter section */
.footer{
    width: 100%;
    height: 60vh;
    display: flex;
    background-color: rgb(3, 2, 88);
    justify-content: space-around;
}
.footer1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footerfirst{
    width: 40%;
    height: 25vh;
    font-size: 17px;
    color: aliceblue;    
}
.footersecond{
    width: 50%;
    height: 25vh;
    color: rgba(230, 228, 225, 0.932);    

}
.footer .footerfirst button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: rgb(0, 1, 87);
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 5px;
    transition: 2s;
}
.footer .footerfirst button:hover{
    background-color: rgb(255, 255, 255);
}
#ft{
    font-size: 25px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
#ft1{
    font-size: 25px;
    background-color: orangered;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.adress{
    width: 100%;
    height: 7vh;
    background-color:  rgb(3, 2, 88);  
    color: rgb(255, 255, 255);
    text-align: center;

}

.choose p{
    color: white; 
    font-size: 30px;
    text-align: justify;
}

/* media */
@media screen and (max-width:1300px) {
    .head{
        height: 1rem;
    }
    .ecourses{
        height: 6vh;
        font-size: 18px;
    }
    .ecourses h2{
        font-size: 20px;
    }
    .navegaction .subject{
        height: 6vh;
        /* top: 10; */
        font-size: 16px;
    }
    .navegaction{
        height: 6vh;
    }
    .homescreen{
    height: 60vh;
    /* text-align: center; */
    }
    .homescreen,img{
        background-size: 100% 60vh;
    }
    .home1{
        margin-top: 12vh;
        /* margin-left: 25%; */
        text-align: center;
    }
    .aboutus {
        height: 45vh ;
    }
    .contact img{
        height: 40vh;
    }
    .contact{
        height: 90vh;
    }
    .contact1{
        height: 55vh;
    }
     .choose{
        height: 60vh;
    }
    .choose1 p{
        line-height: 3vh;
    }
    .choose2 form{
        height: 45vh;
     
    }
    .choose2{
        height: 50vh;
    
    }
    .choose2 input, .choose2 select{
        height: 55px;
    }
    .footer{
        margin-top: 5vh;
        height: 40vh;
    }
}

@media screen and (max-width:1280px) {
     .contact1 button{
        height: 4vh;
     }
    .footer{
        display: block;
        height: inherit;
    }
    .footer1{
        display: flex;
    }
    .footer1 p{
        font-size: 25px !important;
    }
    .footersecond{
        width: 80%;
        justify-content: space-around;
        margin-left: 55px;
        font-size: 25px;
        text-align: justify;
    }
}

@media screen and (max-width:1080px) {
    .contact1 p{
        line-height: 22px;
    }
    .contact1 button{
        width: 40%;
    }
    .choose1 p{
        line-height: 32px;
    }
    form{
    width: 110%;
}
.choose2{
    width: 50%;
}
}
@media screen and (max-width:1000px) {
    .head{
        /* height: 1px; */
        margin-bottom: -5vh;
    }
}
@media screen and (max-width:991px) {
    .head{
        height: 0vh;

    }
    .top-bar{
        height: 10px;
    }
}
@media screen and (max-width:930px) {

     .homescreen{
        height: 40vh;
    }
    /* .home1{
        margin-top: 10px;
        margin-left:10vh;
        font-size: 10px;
    } */
    .homescreen,img{
        background-size: 100% 50vh;
    }
    .aboutus{
        height: 40vh !important;
        text-align: justify !important;
    }
    .contact img{
        width: 95%;
        height: 33vh;
    }
    .contact1{
        width: 50%;
        margin-top: -3px;
    }
    .contact1 p
    {
        line-height: 23px;
    }.contact1 h1
    {
        line-height: 10px;
        font-size: 25px;
    }
     .contact1 button {
        height: 3vh;
        width: 40%;
    }
   .choose1 h1{
    line-height: 15px;
   }
   .choose1{
    width: 45%;
   }
.choose2{
    width: 48%;
}
.choose2 form{
    /* width: 95%; */
}
.choose{
    height: 90vh;
    margin-bottom: 10vh;
}
.footer{
    height: 60vh;
}
}

@media screen and (max-width:780px) {
    .aboutus{
        display: block;
        height: 70vh !important;
       

    }
    .contact img{
        height: 40vh;
        text-align: justify;
        width: 222%;
        /* margin-left: 15px;
        margin-top: 10px; */
    }
    .contact1{
        width: 90%;
        margin-left: 30px;
        text-align: justify !important;
        justify-content: space-around !important;
        margin-top: -50vh !important;
    }
    .contact1 button{
        width: 30%;
        height: 4vh;
    }
    .choose{
        height: 55vh;
        background-size: 100% 60vh;
    }
    .choose1{
        margin-top: 10px;
    }
    .choose1 p{
        line-height: 30px;
    }
    .choose2{
        margin-top: 20px;
        width: 45%;
    }
     .choose2 form{
        height: 42vh;
    }
    .choose2 h2{
        height: 5vh;
    }
 .choose2{
    width: 50%;
}
.choose2 input{
    height: 45px;
}
.choose2 select{
    height: 45px;
}
.choose{
    display: block;
    height: 60vh;
}
.choose img{
    width: 20% !important;
    height: 2000vh !important;
}
.choose1{
    width: 98%;
}
.choose2{
    width: 100%;
    justify-content: space-around;
    text-align: justify;
    /* margin-left: 15px; */
  height: 40vh;
}
.choose2 form{
  height: 34vh;
}
.choose2 input{
    margin-top: 25px !important;
  height: 45px;
}
.choose2 select{
    margin-top: 25px !important;
  height: 45px;
}

}
@media screen and (max-width:575px) {
    .choose{
    height: 60vh;
    /* margin-bottom: 10vh; */
}
    
}