.head{
    width: 100%;
    height: 18vh;
}

.top-bar {
      font-size: 17px;
      text-align: justify
      ;
      justify-content: space-around;
    }


    /* Navbar */
    .navbar-brand {
      font-weight: 700;
      font-size: 1.3rem;
    }

    .nav-link {
      font-weight: 500;
    }

    /* Offcanvas menu width */
    .offcanvas {
      width: 280px;
    }
    .col-lg-4 #ecourse{
        color: orange; 
    }
.homescreen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/course-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.home1{
    color:white;
    text-align: center;
    font-size: 20px;
}

/* explore top subject */
.expoHeading{
    text-align: center;
    margin-top: 10vh;
}
.explore{
    width: 100%;
    /* height: 90vh; */
    text-align: center;
    background-color:rgba(255, 255, 255, 0.452);
    border-radius: 20px;
    /* background-color:rgba(255, 166, 0, 0.733); */
    
}
.explore1{
    width: 100%;
    height: 40vh;
    display: flex;
    /* text-align: justify; */
    /* margin-left: 4%; */
    /* margin-top: 3vh; */
    justify-content: space-evenly;
}
 .explore2{
     width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
 }
.explore1 h2, .explore2 h2{
    margin-top: 100px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.explore1 h3, .explore2 h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.expl1{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: rgb(4, 3, 3);
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-1.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .6;
    transition: 1111ms;
    
    text-align: center;


}
.expl1:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
}
.expl2{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-2.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8;
    transition: 1111ms;
    text-align: center;
}
.expl2:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl3{
  width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-3.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl3:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,0.10);
}
.expl4{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-4.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl4:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl5{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-5.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl5:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl6{
   width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-6.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl6:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl7{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-7.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl7:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl8{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    background-image:linear-gradient( rgba(0,0,0,10),rgba(0,0,0,10)) ;
    background-image: url(../img/cat-8.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;

}
.expl8:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}

/* * popular course page */ 
.courses{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    text-align: justify;
    /* height: 100vh; */
    /* margin-top: 30px; */
     margin-bottom: 10vh;
     
}
.course1{
    width: 32%;
    height: 90vh;
    /* display: flex; */
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    justify-content: space-around;
    border-radius: 20px;
}
.course2{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    border-radius: 20px;
    
}
.course3{
    width: 32%;
    height: 100vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 25px; */
    border-radius: 20px;
    

}
.one{
    margin-top: 20px;
    display: flex;
font-size: 25px;
justify-content: space-around;

}
.two{
 text-align: justify;
font-size: 25px;

}
.headingpopul{
    font-size:20px !important;
    text-align: justify;
    margin-bottom: 20px;
}
.courses1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-top: 20px; */
    /* height: 70vh; */
    /* margin-top: 30px; */
}
.course4{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    border-radius: 20px;

}
.course5{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    border-radius: 20px;

}
.course6{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    border-radius: 20px;

}


/* .one{
    width: 95%;
    height: 2vh;
    
    display: flex;
}
.two{
    width: 95%;
    margin-left: 46%;
} */
.headingpopul{
    font-size:20px;
    text-align: center;
}
.course1 , .course2 , .course3 ,.course4 ,.course5 , .course6{
    height: 100vh;
    /* display: flex; */
    /* margin: 0px; */
}

.footer{
    width: 100%;
    height: 60vh;
    margin-top: 40px;
    display: flex;
    background-color: rgb(3, 2, 88);
    justify-content: space-around;
}
.footer1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footerfirst{
    width: 40%;
    height: 25vh;
    font-size: 17px;
    color: aliceblue;    
}
.footersecond{
    width: 50%;
    height: 25vh;
    color: rgba(230, 228, 225, 0.932);    

}
.footer .footerfirst button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: rgb(0, 1, 87);
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 5px;
    transition: 2s;
}
.footer .footerfirst button:hover{
    background-color: rgb(255, 255, 255);
}
#ft{
    font-size: 25px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
#ft1{
    font-size: 25px;
    background-color: orangered;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.adress{
    width: 100%;
    height: 7vh;
    background-color:  rgb(3, 2, 88);  
    color: rgb(255, 255, 255);
    text-align: center;

}

.choose p{
    color: white; 
    font-size: 30px;
    text-align: justify;
}

@media screen and (max-width:1300px) {
     .head{
        height: 1vh;
    }
    .ecourses{
        height: 6vh;
        font-size: 18px;
    }
    .ecourses h2{
        font-size: 20px;
    }
    .navegaction .subject{
        height: 6vh;
        /* top: 10; */
        font-size: 16px;
    }
    .navegaction{
        height: 6vh;
    }
    .homescreen{
    height: 60vh;
    /* text-align: center; */
    }
    .homescreen,img{
        background-size: 100% 60vh;
    }
    .home1{
        margin-top: 12vh;
        /* margin-left: 25%; */
        text-align: center;
    }
    .expoHeading{
        margin-top: 10px;
    }
     
    .explore{
        height: 55vh;
        margin-top: 10px;
    }
    .explore1{
        width: 100%;
        height: 30vh;
    }
     .explore2{
        width: 100%;
    }
    .explore1 h2, .explore2 h2{
        font-size: 45px;
    }
    .explore1 h3, .explore2 h3{
        font-size: 40px;
    }
   .expl1{
        height: 23vh;
        width: 23%;
        background-size: 100% 23vh;
    } 
    .expl2{
        height: 23vh;
        width: 23%;
        background-size: 100% 23vh;
    } 
    .expl3{
        height: 23vh;
        width: 23%;
        background-size: 100% 23vh;

    } 
    .expl4{
        height: 23vh;
        width: 23%;
        background-size: 100% 23vh;

    }     
     .expl5{
        height: 23vh;
        background-size: 100% 23vh;
    } 
     .expl6{
        height: 23vh;
        background-size: 100% 23vh;
    } 
     .expl7{
        height: 23vh;
        background-size: 100% 23vh;
    } 
     .expl8{
        height: 23vh;
        background-size: 100% 23vh;
    } 
    .courses{
        height: 50vh;
    }
    .course1{
        height: 50vh;
    }
    .course2{
        height: 50vh;
    }
    .course3{
        height: 50vh;
    }
    .courses1{
        height: 50vh;
    }
    .course4{
        height: 50vh;
    }
    .course5{
        height: 50vh;
    }
    .course6{
        height: 50vh;
    }
}
@media screen and (max-width:1280px) {
     .contact1 button{
        height: 4vh;
     }
    .footer{
        display: block;
        height: inherit;
    }
    .footer1{
        display: flex;
    }
    .footer1 p{
        font-size: 25px !important;
    }
    .footersecond{
        width: 80%;
        justify-content: space-around;
        margin-left: 55px;
        font-size: 25px;
        text-align: justify;
    }
}

@media screen and (max-width:1080px) {
    .explore{
    display: flex;
    height: 125vh;
}

.explore1{
    display: block;
    
}
.explore2{
    display: block;
}
.expl1,.expl2,.expl3,.expl4,.expl5,.expl6,.expl7,.expl8{
    width: 95%;
}
.popularcourse{
    display: flex;
    height: 145vh;
}
.courses{
    display: block;
}
.courses1{
    display: block;
}
.course1,.course2,.course3,.course4,.course5,.course6{
    width: 95%;
    height: 49vh;
    margin-bottom: 30px;
    text-align: justify;
    justify-content: space-evenly;
}
.footer{
    margin-top: 10vh;
}
}
@media screen and (max-width:1000px) {
    .head{
        /* height: 1px; */
        margin-bottom: -5vh;
    }
}

@media screen and (max-width:720px) {
      /* .course1,.course2,.course3,.course4,.course5,.course6{
       height: 44vh;
} */
.explore{
        display: block;
        height: 245vh;
    }
    .explore1{
        /* display: flex; */
        height: 116vh;
    }
    .expl1,.expl2,.expl3,.expl4,.expl5,.expl6,.expl7,.expl8{
    width: 100%;
}
.popularcourse{
    display: block;
    height: 270vh;
}
.courses{
    height: 130vh;
}
.course1,.course2,.course3,.course4,.course5,.course6{
    width: 100%;
    /* height: 49vh; */
    
}
.footer{
    margin-top: 30vh;
}
}
