.head{
    width: 100%;
    height: 18vh;
    z-index: 20px;
}

.top-bar {
      font-size: 17px;
      text-align: justify
      ;
      justify-content: space-around;
    }


    /* Navbar */
    .navbar-brand {
      font-weight: 700;
      font-size: 1.3rem;
    }

    .nav-link {
      font-weight: 500;
    }

    /* Offcanvas menu width */
    .offcanvas {
      width: 280px;
    }
    .col-lg-4 #ecourse{
        color: orange; 
    }
.homescreen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/registration.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.home1{
    color:white;
    text-align: center;
    font-size: 20px;
}


/* meet our develaper */
.teachers{
    width: 100%;
    margin-top: 90VH;
    height: 100vh !important;
    text-align: center;
}
.teacher1{
   display: flex;
   justify-content: space-around;
}
.tech1{
    background-color: rgb(214, 212, 209);
    width: 20%;
    height: 60vh;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
}
.tech2{
    background-color: rgb(214, 212, 209);
    width: 20%;
    height: 60vh;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
}
.tech3{
    background-color: rgb(214, 212, 209);
    width: 20%;
    height: 60vh;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
}
.tech4{
    background-color: rgb(214, 212, 209);
    width: 20%;
    height: 60vh;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
}

.tech1, .tech2 , .tech3 , .tech4{
    height: 70vh;
}
.tech1 h2,h3, .tech2 h2,h3, .tech3 h2,h3, .tech4 h2,h3{
    /* height: 30vh; */
    font-size: 30px;
}
/* Foooter section */
.footer{
    width: 100%;
    margin-top: 110VH;
    height: 60vh;
    display: flex;
    background-color: rgb(3, 2, 88);
    justify-content: space-around;
}
.footer1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footerfirst{
    width: 40%;
    height: 25vh;
    font-size: 17px;
    color: aliceblue;    
}
.footersecond{
    width: 50%;
    height: 25vh;
    color: rgba(230, 228, 225, 0.932);    

}
.footer .footerfirst button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: rgb(0, 1, 87);
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 5px;
    transition: 2s;
}
.footer .footerfirst button:hover{
    background-color: rgb(255, 255, 255);
}
#ft{
    font-size: 25px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
#ft1{
    font-size: 25px;
    background-color: orangered;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.adress{
    width: 100%;
    height: 7vh;
    background-color:  rgb(3, 2, 88);  
    color: rgb(255, 255, 255);
    text-align: center;

}

/* .choose p{
    color: white; 
    font-size: 30px;
    text-align: justify;
}

.teacher1 h1{
font-size: 30px !important;
} */

@media screen and (max-width:1300px) {
     .head{
        height: 1px;
    }
    .ecourses{
        height: 6vh;
        font-size: 18px;
    }
    .ecourses h2{
        font-size: 20px;
    }
    .navegaction .subject{
        height: 6vh;
        /* top: 10; */
        font-size: 16px;
    }
    .navegaction{
        height: 6vh;
    }
    .homescreen{
    height: 50vh;
    /* text-align: center; */
    }
    .homescreen,img{
        background-size: 100% 60vh;
    }
    .home1{
        margin-top: 12vh;
        /* margin-left: 25%; */
        text-align: center;
    }
    .teachers{
        margin-top: 45vh;
    }
    .tech1,.tech2,.tech3,.tech4{
        /* margin-top: 60vh; */
        height: 35vh;
    }
    .footer{
        margin-top: 60vh;
    }
    
}
@media screen and (max-width:1280px) {
    
    .footer{
        display: block;
        height: inherit;
    }
    .footer1{
        display: flex;
    }
    .footer1 p{
        font-size: 25px !important;
    }
    .footersecond{
        width: 80%;
        justify-content: space-around;
        margin-left: 55px;
        font-size: 25px;
        text-align: justify;
    }}

@media screen and (max-width:1080px) {
   
.footer{
    margin-top: 60vh;
}
 .tech1, .tech2, .tech3, .tech4 {
    width: 24%;
}
}
@media screen and (max-width:991px) {
    .head{
        height: 1vh;
        margin-bottom: -5vh;
    }
    
}
@media screen and (max-width:820px) {  
.footer{
    margin-top: 60vh;
}
.tech1 h2,h3, .tech2 h2,h3, .tech3 h2,h3, .tech4 h2,h3{
    /* height: 30vh; */
    font-size: 28px;
}}
@media screen and (max-width:780px) {
     .teacher1{
    display: block;
    height: 150vh !important;
}
.teachers{
    /* height: 2300vh !important; */
}
.tech1,.tech2,.tech3,.tech4{
    width: 100%;
    height: 50vh;
    margin-bottom: 5vh;
}
.tech1 img,.tech2 img,.tech3 img,.tech4 img{
    height: 35vh;
}
.tech1 h2,.tech2 h2,.tech3 h2,.tech4 h2{
    /* height: 35vh; */
    font-size: 45px !important;
}
.tech1 h3,.tech2 h3,.tech3 h3,.tech4 h3{
    /* height: 35vh; */
    font-size: 45px;
}

.footer{
    margin-top: 230vh;
}
}