.head{
    width: 100%;
    height: 19vh;
}

.top-bar {
      font-size: 17px;
      text-align: justify
      ;
      justify-content: space-around;
    }


    /* Navbar */
    .navbar-brand {
      font-weight: 700;
      font-size: 1.3rem;
    }

    .nav-link {
      font-weight: 500;
    }

    /* Offcanvas menu width */
    .offcanvas {
      width: 280px;
    }
    .col-lg-4 #ecourse{
        color: orange; 
    }
.ecourses{
    width: 100%;
    height: 0vh;
    display: flex;
    justify-content: space-around;
    background-color: rgba(206, 159, 102, 0.788);
}
/* .container-fluid .nav-link {
    text-align: justify;
    background-color: aliceblue;
    justify-content: space-evenly !important;
} */
.navegaction{
    width: 100%;
    height: 10vh ;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
   #subject{

   width: 25%;height: 10vh;color: white; text-align: center; margin-right: 10vh; font-size: 25px; background-color: orange;
}
/* .navegaction .subject{
    width: 50%;
    height: 10vh;
    top: 10px;
    font-size:15px;
    background-color: rgba(255, 166, 0, 0.767);
    text-align: center;
} */
/* .navegaction .subject a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.subject:hover{
    background-color: rgb(255, 145, 0);
} */
.navegaction .navbar{
    width: 95%;
    height: inherit;
    display: flex;
    font-size: 20px;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* background-color: rgb(255, 255, 255); */
}
.container-fluid a{
    color: rgb(0, 0, 0);
}
.container-fluid a:hover{
    color: orangered;
}
/* .navbar .nav a{
    text-decoration: none;
    color: black;
} */
.ecourses h1::first-letter{
    color: rgb(255, 102, 0);
    font-size: 35px;
}
.nav a:hover{
    color: rgb(255, 102, 0);
}
.joint{
    width: 10%;
}
/* .navbar-brand{
    font-size: 35px !important;
    color: orange;
    margin-right: 120px;
} */
.joint button{
 
    height: 6vh;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(255, 68, 0, 0.849);
    /* margin-top: 5px; */
        /* width: 100%; */

}
/* .subject h1{
    margin-top: 44px;
} */
.joint button:hover{
    background-color: rgb(240, 65, 1);
}
/* home screen page */
.homescreen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/carousel-1.jpg);
    background-size: 100% 100vh;

    display: flex;
}
.home1{
    margin-top: 20vh;
    margin-left: 40vh;
    color: rgb(231, 217, 198);
    font-size:20px;
    font-weight: bolder;
   
}
.home1 h2{
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
.home1 h1{
    font-size: 60px;
}
.home1 button{
    width: 29%;
    height: 6vh;
    font-size: 18px;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    
    
}
.home1 a{
     border: none;
    text-decoration: none;
     color: white;
}
.aboutus{
    width: 100%;
    height: 80vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    background-color: rgba(255, 166, 0, 0.685);
    border-radius: 20px;

}
.contact1 button{
    width: 29%;
    height: 6vh;
    border-radius: 10px;
    background-color: orangered;
    font-size: 24px;
    border: none;
    color: white;
}
.contact1 a{
    text-decoration: none;
     color: white;
}
.contact{
    margin-top: 20px;
    width: 45%;
    /* height: 80vh; */
    border-radius: 10px;
}
.contact1{
    margin-top: 20px;
    width: 45%;
    /* height: 60vh; */

}
.contact img{
    border-radius: 10px;
    width: 90%;
    height: 70vh;
}
.contact1 h2{
    font-size: 24px;
    color: orangered;
}
.contact1 h1{
    font-size: 35px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.contact1 p{
    font-size: 18px;
    line-height: 28px;
}
/* explore top subject */
.expoHeading{
    text-align: center;
    margin-top: 10vh;
}
.explore{
    width: 100%;
    /* height: 90vh; */
    text-align: center;
    background-color:rgba(255, 255, 255, 0.452);
    border-radius: 20px;
    /* background-color:rgba(255, 166, 0, 0.733); */
    
}
.explore1{
    width: 100%;
    height: 40vh;
    display: flex;
    /* text-align: justify; */
    /* margin-left: 4%; */
    /* margin-top: 3vh; */
    justify-content: space-evenly;
}
 .explore2{
     width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
 }
.explore1 h2, .explore2 h2{
    margin-top: 100px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.explore1 h3, .explore2 h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.expl1{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: rgb(4, 3, 3);
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-1.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .6;
    transition: 1111ms;
    
    text-align: center;


}
.expl1:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
}
.expl2{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-2.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8;
    transition: 1111ms;
    text-align: center;
}
.expl2:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl3{
  width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-3.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl3:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,0.10);
}
.expl4{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-4.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl4:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl5{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-5.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl5:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl6{
   width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-6.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl6:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl7{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: white;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-image: url(../img/cat-7.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;
}
.expl7:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
.expl8{
    width: 23%;
    height: 35vh;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    background-image:linear-gradient( rgba(0,0,0,10),rgba(0,0,0,10)) ;
    background-image: url(../img/cat-8.jpg);
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    opacity: .8 ;
    transition: 1111ms;
    text-align: center;

}
.expl8:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,10);
}
/* popular course page */
.courses{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: justify;
    /* height: 100vh; */
    /* margin-top: 30px; */
     margin-bottom: 10vh;
     
}
.course1{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    justify-content: space-around;
    border-radius: 20px;
}
.course2{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    border-radius: 20px;
    
}
.course3{
    width: 32%;
    height: 100vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 25px; */
    border-radius: 20px;
    

}
.one{
    margin-top: 20px;
    display: flex;
font-size: 25px;
justify-content: space-around;

}
.two{
 text-align: justify;
font-size: 25px;

}
.headingpopul{
    font-size:20px !important;
    text-align: justify;
    margin-bottom: 20px;
}
.courses1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-top: 20px; */
    /* height: 70vh; */
    /* margin-top: 30px; */
}
.course4{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    border-radius: 20px;

}
.course5{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    border-radius: 20px;

}
.course6{
    width: 32%;
    height: 90vh;
    background-color: rgb(235, 235, 230);
    /* margin-left: 20px; */
    border-radius: 20px;

}


/* .one{
    width: 95%;
    height: 2vh;
    
    display: flex;
}
.two{
    width: 95%;
    margin-left: 46%;
} */
.headingpopul{
    font-size:20px;
    text-align: center;
}
.course1 , .course2 , .course3 ,.course4 ,.course5 , .course6{
    height: 100vh;
    /* margin: 0px; */
}
/* need any course */
.choose{
    width: 100%;
    height: 100vh;
    background-image:url(../img/registration.jpg);
    background-size: 100% 110vh;
    background-repeat: no-repeat;
    display: flex ;
    justify-content: space-around;
    margin-top: 10vh;
}
.choose2 h2{
    background-color: aliceblue;
     width: 100%; height: 10vh;
      text-align: center;
      font-size: 40px;
      margin-top: 5px;
}
.choose1{
    margin-top: 50px;
    width: 40%;
    /* height: 1-0vh; */
}
.choose2 select{
    font-size: 20px; width: 430px;
}
.choose1 h1{
    color: aliceblue;
    font-size: 30px;
}
.choose2{
    margin-top: 70px ;
    width: 40%;
    /* height: 100vh; */
    text-align: center;
    /* background-color: aliceblue; */
}
.choose2 form{
    width: 100%;
    height: 80vh;
    background-color: tomato;
    text-align: center;
}
.choose2 input, .choose2 select{
    width: 80%;
    height: 7vh;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
/* meet our develaper */
.teachers{
    width: 100%;
    height: 90vh;
    text-align: center;
}
.teacher1{
   display: flex;
   justify-content: space-around;
}
.tech1{
    background-color: rgb(214, 212, 209);
    width: 20%;
    height: 60vh;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
}
.tech2{
    background-color: rgb(214, 212, 209);
    width: 20%;
    height: 60vh;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
}
.tech3{
    background-color: rgb(214, 212, 209);
    width: 20%;
    height: 60vh;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
}
.tech4{
    background-color: rgb(214, 212, 209);
    width: 20%;
    height: 60vh;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
}

.tech1, .tech2 , .tech3 , .tech4{
    height: 70vh;
}
.tech1 h2,h3, .tech2 h2,h3, .tech3 h2,h3, .tech4 h2,h3{
    /* height: 30vh; */
    font-size: 30px;
}
/* Our Blogs */
.blogs{
    width: 100%;
    height: 80vh;
    text-align: center;
    
}
.blog{
    justify-content: space-around;
    display: flex;
}
.blog1 h2{
    color: aliceblue;
    font-size: 30px;

}
.blog1{
    width: 30%;
    height: 5045;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(216, 213, 209);
    background-image: url(../img/blog-1.jpg);
    background-size: 100% 50vh;
    background-repeat: no-repeat;
}
.blog2 h2{
    color: aliceblue;
    font-size: 30px;

}
.blog2{
    width: 30%;
    height: 50vh;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(216, 213, 209);
    background-image: url(../img/blog-2.jpg);
    background-size: 100% 50vh;
    background-repeat: no-repeat;
}
.blog3 h2{
    color: aliceblue;
    font-size: 30px;

}
.blog3{
    width: 30%;
    height: 50vh;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(216, 213, 209);
    background-image: url(../img/blog-3.jpg);
    background-size: 100% 50vh;
    background-repeat: no-repeat;
}
/* Foooter section */
.footer{
    width: 100%;
    height: 60vh;
    display: flex;
    background-color: rgb(3, 2, 88);
    justify-content: space-around;
}
.footer1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footerfirst{
    width: 40%;
    height: 25vh;
    font-size: 17px;
    color: aliceblue;    
}
.footersecond{
    width: 50%;
    height: 25vh;
    color: rgba(230, 228, 225, 0.932);    

}
.footer .footerfirst button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: rgb(0, 1, 87);
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 5px;
    transition: 2s;
}
.footer .footerfirst button:hover{
    background-color: rgb(255, 255, 255);
}
#ft{
    font-size: 25px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
#ft1{
    font-size: 25px;
    background-color: orangered;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.adress{
    width: 100%;
    height: 7vh;
    background-color:  rgb(3, 2, 88);  
    color: rgb(255, 255, 255);
    text-align: center;

}

.choose p{
    color: white; 
    font-size: 30px;
    text-align: justify;
}

.teacher1 h1{
font-size: 30px !important;
}
@media only screen and (max-width: 1300px) {
    .head{
        height: 13vh;
    }
    .ecourses{
        height: 6vh;
        font-size: 18px;
    }
    #subject{
        height: 6vh;
    }
    .ecourses h2{
        font-size: 20px;
    }
    .navegaction .subject{
        height: 6vh;
        /* top: 10; */
        font-size: 16px;
    }
    .navegaction{
        height: 6vh;
    }
    .homescreen{
    height: 60vh;
    /* text-align: center; */
    }
    .homescreen,img{
        background-size: 100% 60vh;
    }
    .home1{
        margin-top: 12vh;
        margin-left: 25%;
    }
    .aboutus {
        height: 45vh ;
    }
    .contact img{
        height: 40vh;
    }
    .contact{
        height: 90vh;
    }
    .contact1{
        height: 55vh;
    }
    .expoHeading{
        margin-top: 10px;
    }
     
    .explore{
        height: 55vh;
        margin-top: 10px;
    }
    .explore1{
        width: 100%;
        height: 30vh;
    }
     .explore2{
        width: 100%;
    }
    .explore1 h2, .explore2 h2{
        font-size: 45px;
    }
    .explore1 h3, .explore2 h3{
        font-size: 40px;
    }
   .expl1{
        height: 23vh;
        width: 23%;
        background-size: 100% 23vh;
    } 
    .expl2{
        height: 23vh;
        width: 23%;
        background-size: 100% 23vh;
    } 
    .expl3{
        height: 23vh;
        width: 23%;
        background-size: 100% 23vh;

    } 
    .expl4{
        height: 23vh;
        width: 23%;
        background-size: 100% 23vh;

    }     
     .expl5{
        height: 23vh;
        background-size: 100% 23vh;
    } 
     .expl6{
        height: 23vh;
        background-size: 100% 23vh;
    } 
     .expl7{
        height: 23vh;
        background-size: 100% 23vh;
    } 
     .expl8{
        height: 23vh;
        background-size: 100% 23vh;
    } 
    .courses{
        height: 50vh;
    }
    .course1{
        height: 50vh;
    }
    .course2{
        height: 50vh;
    }
    .course3{
        height: 50vh;
    }
    .courses1{
        height: 50vh;
    }
    .course4{
        height: 50vh;
    }
    .course5{
        height: 50vh;
    }
    .course6{
        height: 50vh;
    }
    .choose{
        height: 60vh;
    }
    .choose1 p{
        line-height: 3vh;
    }
    .choose2 form{
        height: 45vh;
     
    }
    .choose2{
        height: 50vh;
    
    }
    .choose2 input, .choose2 select{
        height: 55px;
    }
    .teachers{
        height: 40vh;
    }
    .tech1{
        height: 30vh;
    }.tech2{
        height: 30vh;
    }
    .tech3{
        height: 30vh;
    }
    .tech4{
        height: 30vh;
    }
    .blogs{
        height: 50vh;
    }
    .blog1{
        height: 30vh;
    }
    .blog2{
        height: 30vh;
    }
    .blog3{
        height: 30vh;
    }
    .footer{
        height: 40vh;
    }
    .tech1 h2, .tech2 h2, .tech3 h2, .tech4 h2{
    font-size: 35px !important;
}
    
   
}
@media screen and (max-width:1280px) {
     .contact1 button{
        height: 4vh;
     }
    .footer{
        display: block;
        height: inherit;
    }
    .footer1{
        display: flex;
    }
    .footer1 p{
        font-size: 25px !important;
    }
    .footersecond{
        width: 80%;
        justify-content: space-around;
        margin-left: 55px;
        font-size: 25px;
        text-align: justify;
    }
}
@media screen and (max-width:1200px) {
     .top-bar{
        font-size: 15px;
     }
    }

@media only screen and (max-width:1080px) {
    .tech1, .tech2, .tech3, .tech4 {
    width: 24%;
}
.choose1 p{
    font-size: 26px;
}


 .contact1 p {
    font-size: 14px;
    /* line-height: 28px; */
    text-align: justify;
}
.explore{
    display: flex;
    height: 125vh;
}

.explore1{
    display: block;
    
}
.explore2{
    display: block;
}
.expl1,.expl2,.expl3,.expl4,.expl5,.expl6,.expl7,.expl8{
    width: 95%;
}
.popularcourse{
    display: flex;
    height: 145vh;
}
.courses{
    display: block;
}
.courses1{
    display: block;
}
.course1,.course2,.course3,.course4,.course5,.course6{
    width: 95%;
    height: 49vh;
    margin-bottom: 30px;
    text-align: justify;
    justify-content: space-evenly;
} form{
    width: 110%;
}
.choose2{
    width: 50%;
}

}
@media screen and (max-width:1000px) {
    .head{
        /* height: 1px; */
        margin-bottom: -5vh;
    }
}
 
 @media screen and (max-width:991px) {
    #subject{
        height: 7vh;
    }
    .navegaction .navbar{
        width: 100%;
        height: 112px;
    }
    .navegaction .joint{
        display: none;
    }
    #dark{
        display: none;
    }
    .homescreen{
        height: 40vh;
    }
    .home1{
        margin-top: 10px;
        margin-left:10vh;
        font-size: 10px;
    }
    .homescreen,img{
        background-size: 73vh;
    }
    .aboutus{
        height: 37vh !important;
        text-align: justify !important;
    }
    .contact img{
        width: 95%;
        height: 33vh;
    }
    .contact1{
        width: 50%;
        margin-top: 5px;
    }
    .contact1 p
    {
        line-height: 23px;
    }
     .contact1 button {
        height: 5vh;
        width: 40%;
    }
    .tech1 h2,h3, .tech2 h2,h3, .tech3 h2,h3, .tech4 h2,h3{
    /* height: 30vh; */
    font-size: 28px;
}
.choose2{
    width: 55%;
}
    
}
@media screen and (max-width:880px) {
    .homescreen,img{
        background-size: 100% 40vh;
    }
    .aboutus{
        display: block;
        height: 70vh !important;
       

    }
    .contact img{
        height: 40vh;
        text-align: justify;
        width: 222%;
        /* margin-left: 15px;
        margin-top: 10px; */
    }
    .contact1{
        width: 90%;
        margin-left: 30px;
        text-align: justify !important;
        justify-content: space-around !important;
        margin-top: -50vh !important;
    }
    .contact1 button{
        width: 30%;
        height: 4vh;
    }
    .choose{
        height: 55vh;
        background-size: 100% 60vh;
    }
    .choose1{
        margin-top: 10px;
    }
    .choose1 p{
        line-height: 30px;
    }
    .choose2{
        margin-top: 20px;
        width: 45%;
    }
     .choose2 form{
        height: 42vh;
    }
    .choose2 h2{
        height: 5vh;
    }
     .tech1 h2,h3, .tech2 h2,h3, .tech3 h2,h3, .tech4 h2,h3{
    /* height: 30vh; */
    font-size: 25px;
}
.choose2{
    width: 50%;
}
.choose2 input{
    height: 45px;
}
.choose2 select{
    height: 45px;
}
}

@media screen and (max-width:720px) {
      .home1 h1{
        font-size: 45px;
        margin-left: -40px;
    }
    .home1 h2{
        font-size: 40px;
        margin-left: -40px;
    }
    .home1 button{
        height: 4vh;
        margin-left: -40px;
    }
    .homescreen,img{
        background-size: 100% 40vh;
    }

    .course1,.course2,.course3,.course4,.course5,.course6{
       height: 44vh;
}
 .headingpopul{
    font-size: 15px !important;
 }
    .one{
        font-size: 20px;
    }
    .two{
        font-size: 20px;
    }
    .choose1 p{
        line-height: 27px;
    }
    .teacher1{
    display: block;
    height: 150vh !important;
}
.teachers{
    height: 230vh;
}
.tech1,.tech2,.tech3,.tech4{
    width: 100%;
    height: 50vh;
    margin-bottom: 5vh;
}
.tech1 img,.tech2 img,.tech3 img,.tech4 img{
    height: 35vh;
}
.tech1 h2,.tech2 h2,.tech3 h2,.tech4 h2{
    /* height: 35vh; */
    font-size: 45px !important;
}
.tech1 h3,.tech2 h3,.tech3 h3,.tech4 h3{
    /* height: 35vh; */
    font-size: 45px;
}
.blogs{
    height: 170vh;

}
.blog{
    display: block;
}
.blog1,.blog2,.blog3{
    width: 100%;
    justify-content: space-around;
    height: 50vh;
    margin-top: 20px;
}
.blog1 h2,.blog2 h2,.blog3 h2{
    font-size: 50px;
    /* margin-top: 50px; */
}
.choose2{
    width: 55%;
}

}

@media screen and (max-width:680px) {
     .contact1 button{
        height: 3vh;
     }
    .explore{
        display: block;
        height: 245vh;
    }
    .explore1{
        /* display: flex; */
        height: 116vh;
    }
    .expl1,.expl2,.expl3,.expl4,.expl5,.expl6,.expl7,.expl8{
    width: 100%;
}
.popularcourse{
    display: block;
    height: 270vh;
}
.courses{
    height: 130vh;
}
.course1,.course2,.course3,.course4,.course5,.course6{
    width: 100%;
    /* height: 49vh; */
    
}

.choose{
    display: block;
    height: 60vh;
}
.choose img{
    width: 20% !important;
    height: 2000vh !important;
}
.choose1{
    width: 98%;
}
.choose2{
    width: 100%;
    justify-content: space-around;
    text-align: justify;
    /* margin-left: 15px; */
  height: 40vh;
}
.choose2 form{
  height: 34vh;
}
.choose2 input{
    margin-top: 25px !important;
  height: 45px;
}
.choose2 select{
    margin-top: 25px !important;
  height: 45px;
}

}